$bg_black: #121212;
$bg_black_light: #393939;
$orange: #FF6B00;
$light_orange: #F58F45;
$light_grey: #E0E0E0;
$white: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
